<div class="card">
  <p-table
    #dt
    [value]="customers"
    [(selection)]="selectedCustomers"
    selectionMode="single"
    dataKey="name"
    [paginator]="true"
    [rows]="10"
    [loading]="loading"
    [columns]="cols"
    [exportHeader]="'customExportHeader'"
    selectionOnly="true"
    [paginator]="true"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [globalFilterFields]="['name', 'country.name','company','representative.name']"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <!--    scrollHeight="400px"-->
    <ng-template pTemplate="caption">
      <div class="flex">
        <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
        <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText  type="text"  (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
            </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name" style="width:25%">Name<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="country.name" style="width:25%">Country<p-sortIcon field="country.name"></p-sortIcon></th>
        <th pSortableColumn="company" style="width:25%">Company<p-sortIcon field="company"></p-sortIcon></th>
        <th pSortableColumn="representative.name" style="width:25%">Representative<p-sortIcon field="representative.name"></p-sortIcon></th>
      </tr>
      <tr>
        <th></th>
        <th>
          <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'name', 'contains')"  placeholder="Search by Name" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'country.name', 'contains')"  placeholder="Search by Country" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'company', 'contains')"  placeholder="Search by Company" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'representative.name', 'contains')"  placeholder="Search by Representative" class="w-full">
        </th>
        <!--        <th><p-columnFilter type="text" field="name"></p-columnFilter></th>-->
<!--        <th><p-columnFilter type="text" field="country.name"></p-columnFilter></th>-->
<!--        <th><p-columnFilter type="text" field="company"></p-columnFilter></th>-->
<!--        <th><p-columnFilter type="text" field="representative.name"></p-columnFilter></th>-->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>
          <p-tableCheckbox [value]="customer"></p-tableCheckbox>
        </td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.country.name }}</td>
        <td>{{ customer.company }}</td>
        <td>{{ customer.representative.name }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
